# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.sh text eol=lf

# Config files
.env* text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Documentation
*.md text eol=lf
LICENSE text eol=lf

# CSV files
*.csv text eol=lf
